.searchSidebar {
    width: 22vw;

    background-color: var(--greenPastelLight);

    border-radius: var(--rounded);
}

@media (max-width: 576px) {
    .searchSidebar {
        width: 100%;
        height: 200px;

        overflow: auto;
    }
}

.filterTitle {
    color: var(--blackLight);
}

.okBtn {
    background-color: var(--greenLight);
}

.okBtn:hover {
    background-color: var(--greenDark);
}

.resetFilterBtn {
    font-size: small;

    background-color: white;
    border: 1px solid #ced4da;
    padding: 2%;
}

.resetFilterBtn:hover {
    background-color: var(--greenPastelDark);
    border: 1px solid #ced4da;
}