.searchSidebar {
    width: 22vw;
    
    background-color: var(--greenPastelLight);

    border-radius: var(--rounded);
}

.filterTitle{
    color: var(--blackLight);
}

.okBtn {
    background-color: var(--greenDark);   
}

.okBtn:hover {
    background-color: var(--orangeDark);
}