:root {
    --rounded: 1em;
}

.card {
    background-color: var(--greenPastelLight);

    border-radius: var(--rounded);

    max-height: 40%;
}

.card:hover .image {
    transform: scale(1.1);

    transition: .3s ease-in-out;
}

.zoom {
    overflow: hidden;

    border-radius: var(--rounded);
}

.image {
    width: 100%;
    height: 30vh;

    object-fit: cover;
}

.footer {
    background-color: var(--greenLight);

    width: 100%;

    /* OVERWRITING BOOTSTRAP */
    border-radius: 0 0 var(--rounded) var(--rounded) !important;
}

.footer:hover {
    background-color: var(--greenDark);
}