:root {
  --orangeDark: #f97728;

  --greenLight: #497174;
  --greenDark: #21445A;
  --greenPastelLight: #EFF5F5;
  --greenPastelDark: #D6E4E5;

  --blackLight: #2C2C2C;
}

/* RESET CSS */
html {
  box-sizing: border-box;
}

body{
  min-height: 100%;
  min-width: 100%;
}

.App {
  background-color: var(--greenPastelDark);
  min-height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.text-green-light{
  color: var(--greenLight) !important;
}

/* OVERRINDING BOOTSTRAP */
.input-group .btn {
  z-index: 0  !important;
}

/* SCROLL - BACK */
::-webkit-scrollbar{
  width: 10px;
  background-color: var(--greenPastelDark);
}

/* SCROLL - FRONT */
::-webkit-scrollbar-thumb{
  background: linear-gradient(var(--greenLight), var(--greenDark));
}